In [7]:
list=[2,3,6]
r=1
for i in list:
    r=r*i
print(r)

36

In [35]:
def last(n): return n[-1]

def sort_list_last(tuples):
    return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [62]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
for i in d1:
    if i in d2:
        d2[i] = d1[i] +d2[i]
    else:
        d2[i]=d1[i]
print(d2)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

In [67]:
c=int(input("write a number: "))
d={}
for i in range(1,c+1):
    d[i]=i*i
print(d)

write a number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [70]:
liste=[('item1', '12.20'), ('item2','15.10'), ('item3', '24.5')]
for i in range(len(liste)-1,-1,-1):
    print(liste[i],end=",")

('item3', '24.5'),('item2', '15.10'),('item1', '12.20'),